body {
    background-color: #1e1e1e;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 100vh;
    position: absolute;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
    margin-bottom: 20px;
}

.password-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.password-display input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    background-color: #444;
    color: #fff;
}

.password-display button {
    padding: 10px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #ff5722;
    color: #fff;
    cursor: pointer;
}

.customize-password {
    margin-bottom: 20px;
}

.customize-password label,
.customize-password input {
    display: flex;
    flex-direction: column;
    /* margin: 10px 0; */
}

.conditions label{
    display: flex;
    flex-direction: column;
}

#generateBtn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ff5722;
    color: #fff;
    cursor: pointer;
}

#lengthValue {
    display: inline-block;
    width: 30px;
}
